h1
  align-items: center
  font-size: 30px
  padding: 3px
  color: #F1F2EB

p
  font-size: 16px
  align-items: center
  padding: 5px
  color: #5B2E48

  .dates
    color: #F1F2EB

h2
  text-decoration: none
  font-size: 23px
  margin: 2px
  text-align: center
  padding: 2px
  color: #566246

h3
    font-size: 20px
    margin: 2px
    padding: 2px
    color: #F1F2EB

h4
    margin: 4px
    padding: 2px
    font-size: 16px
    color: #566246
