h1
  align-items: center
  font-size: 30px
  padding: 3px
  color: #F1F2EB

p
  font-size: 16px
  align-items: center
  padding: 5px
  color: #101935
  margin-left: 10px
  text-align: center

  .dates
    color: #F1F2EB

a
  color: #564787
  text-decoration: none
  padding: 1px
  margin: 1px

h2
  text-decoration: none
  font-size: 23px
  margin: 20px
  text-align: center
  padding: 2px
  color: #566246

h3
    font-size: 20px
    margin: 2px
    margin-right: 10px
    padding: 2px
    color: #F1F2EB

h4
    margin: 5px
    marging-left: 10px
    padding: 2px
    font-size: 16px
    color: #566246
