*
  margin: 0
  padding: 0
  font-family: 'Josefin Sans', sans-serif
  font-size: 15px

  body
    background-color: #F1F2EB

  div
    background-color: #A4C2A5
    margin: 5px
    padding: 2px

  section
    margin: 20px
    padding: 0px

footer
  background-color: #A4C2A5
  font-size: 16px
  padding: 0px
  margin: 20px
  text-align: center
