*
  margin: 0
  padding: 0
  font-family: 'Josefin Sans', sans-serif

  body
    background-color: #CEBBC9

  div
    background-color: #CE6D8B

  section
    margin: 20px
    padding: 0px

footer
  background-color: #CE6D8B
  font-size: 16px
  padding: 0px
  margin: 20px
  text-align: center
