* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
}
* body {
  background-color: #F1F2EB;
}
* div {
  background-color: #A4C2A5;
  margin: 5px;
  padding: 2px;
}
* section {
  margin: 20px;
  padding: 0px;
}

footer {
  background-color: #A4C2A5;
  font-size: 16px;
  padding: 0px;
  margin: 20px;
  text-align: center;
}

h1 {
  align-items: center;
  font-size: 30px;
  padding: 3px;
  color: #F1F2EB;
}

p {
  font-size: 16px;
  align-items: center;
  padding: 5px;
  color: #5B2E48;
}
p .dates {
  color: #F1F2EB;
}

h2 {
  text-decoration: none;
  font-size: 23px;
  margin: 2px;
  text-align: center;
  padding: 2px;
  color: #566246;
}

h3 {
  font-size: 20px;
  margin: 2px;
  padding: 2px;
  color: #F1F2EB;
}

h4 {
  margin: 4px;
  padding: 2px;
  font-size: 16px;
  color: #566246;
}

header {
  margin: 20px;
  margin-top: 10px;
  margin-down: 10px;
  text-align: center;
}

ul {
  list-style: none;
  color: #F1F2EB;
}

img {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  padding: 1px;
  display: inline-flex;
}

section {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-around;
  color: #F1F2EB;
}